body
{
    margin: 0px;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

a:link
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.page
{ 
    margin: 0 auto;
    width: 500px;
    height: auto;
    box-sizing: border-box;
    border: 1px solid darkgray;
}

.title
{
    padding-left: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: bold;
}

.profile_title
{
    margin-top: 0px;
    margin-bottom: 2px;
    height: 25px;
    background: url(./image/shadowTitle.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.profile_avatar
{
    float: left;
    clear: right;
    margin-left: 15px;
    margin-right: 5px;
    width: 83px;
    height: 90px;
}

.profile_content
{
    margin: 0 10px;
    padding-left: 5px;
    height: 100px;
    overflow: scroll;
}

.content
{
    margin-right: 10px;
}

.content_title
{
    margin-top: 20px;
    margin-bottom: 15px;
}

.content ul
{
    margin: 0 38px;
    margin-bottom: 20px;
    padding-left: 0;
    list-style: none;
}

.content li::before
{
    content: url("./image/star.png");
    margin-right: 5px;
    margin-top: 0px;
}

.content li
{
    margin-bottom: 3px;
}

.comment
{
    margin-top: 35px;
}

.comment_posted
{
    position: relative;
    padding-top: 0px;
    height: 58px;
    font-size: 15px;
}


.comment_content
{
    position: absolute;
    top: 10px;
    padding: 5px 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ECECEC;
}



.comment_detail
{
    position: absolute;
    padding-left: 52px;
    padding-top: 8px;
    margin-top: 60px;
    height: 15px;
    width: 100%;
    font-size: 13px;
    background-image: url(./image/comment_bg.gif);
    background-repeat: no-repeat;
    background-position: left 15px top 5px;
    background-size: 35px 16px;
}


.comment_form_tittle
{
    margin-bottom: 3px;
    margin-top: 55px;
    line-height: 0.6;
    text-align: center;
}

.comment_form table,th, td 
{
    padding-top: 0px;
    padding-left: 2px;
    font-size:14px;
 }
  
.comment_form td 
{
    width: 100px;
}

.comment_form input
{
    width:140px;
    padding-left: 2px;
}

.comment_form textarea 
{
    padding-left: 2px;
    margin-top: 2px;
    width: 380px;
    min-width: 150px;
    max-width: 380px;
    min-height: 77px;
}